@import url(https://fonts.google.com/specimen/Roboto#standard-styles);
*{
   box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{

    background-color: #F8F7F2;
}
#nav a {
    text-decoration: none;
    color: #A5A5A5;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;    
    font-size: 16px;
    letter-spacing: 21;
}
#nav{
    padding: 50px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav #menu {
    display: flex;
    justify-content: space-evenly;
}
#nav #menu li{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
#nav #accarea {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
#accarea li {
    padding: 10px;
}
#nav #login a {
    padding: 15px 21px;
    border: 1px solid #A5A5A5;
    border-radius: 5px;
    color: #A5A5A5;
   
}

#nav #register a {
    background-color: #96BB36;
    padding: 15px 41px;
    border: 1px solid #A5A5A5;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000029;
    
}
#nav #register a{
    color: white;
}

#nav .bullets{
    color: #F0972A;
    font-size: 35px;
}

#nav .or {
    color: #F0972A;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;  
    letter-spacing: 21;
}