@import url(https://fonts.google.com/specimen/Roboto#standard-styles);

*{
  box-sizing: border-box;
   padding: 0px;
   margin: 0px;
 
}
.container {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "CreateAcc CreateAcc ."
    "Lorem Form ."
    ". . .";
}

.CreateAcc { grid-area: CreateAcc;
 
  /* display: flex;
  flex-wrap: wrap;
  justify-content:baseline */
}

.Lorem { 
  grid-area: Lorem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}
#title h1 {
  width: 350px;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 750;


}
#orangetitle {
  color: #F0972A;
}
#greytitle{
  color: #626262;
}

.Form { 
  grid-area: Form;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }